@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;700&display=swap');

body {
    background: hsla(6, 93%, 71%, 1);
    background: linear-gradient(90deg, hsla(6, 93%, 71%, 1) 0%, hsla(299, 100%, 34%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(6, 93%, 71%, 1) 0%, hsla(299, 100%, 34%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(6, 93%, 71%, 1) 0%, hsla(299, 100%, 34%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FA8072", endColorstr="#A900AC", GradientType=1 );
}

h1 {
    color: rgb(255, 255, 255);
    font-family: 'Urbanist', sans-serif;
    font-weight: 700;
}