@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;700&display=swap');

html {
    font-size: 30px;
}

body {
    background: rgb(249,126,112);
    background: linear-gradient(90deg, rgba(249,126,112,1) 0%, rgba(170,0,173,1) 100%); 
    font-family: 'Urbanist', sans-serif;
    white-space: nowrap;
    color: #ffffff;
    text-align: center;
}

p {
 font-size: 1.2rem;
}

a {
    color: #ffffff;
}

a:hover {
    text-decoration: none;
}

a:focus {
    text-decoration: none;
    outline: 3px solid #ffffff;
}

.logo {
    font-size: .7rem;
}

.centre {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 650px) {
    html {
        font-size: 20px;
    }
}