@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;700&display=swap');

body {
    background: rgb(249,126,112);
    background: linear-gradient(90deg, rgba(249,126,112,1) 0%, rgba(170,0,173,1) 100%); 
}

h1 {
    color: rgb(255, 255, 255);
    font-family: 'Urbanist', sans-serif;
    font-weight: 700;
    margin: auto;
    right: auto;
    left: auto;
}